form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(#bd09b7, #6b4cf5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.submit-button {
  width: 30%;
  padding: 5px 15px;
  background-color: #56eb80;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: flex;
  margin-left: auto;
}

/* Estilos responsive */
@media (min-width: 500px) {
  form {
    width: 300px;
  }

  .submit-button {
    width: auto;
  }
}
